<template id = "welcome-page-additional-content-template">

<div class="welcome-page-content">

    <div class="welcome-footer">
        <div class="welcome-footer-content">
            <div class="welcome-footer-about">
                <div>
                  <br />Please use <a href="https://www.google.com/chrome/">Google Chrome</a> for the best experience.
                  <br /> {{ jitsi_brand_name }} is powered by <a href="https://www.github.com/jitsi" rel="noopener" target="_blank">jitsi</a>.
                  <br /><br /><br />
                  &copy; <script>var currYear = new Date().getFullYear(); document.querySelector("#year").innerHTML = currYear;</script><span id="year"></span> {{ jitsi_brand_org }}
                  {% for item in jitsi_brand_footer_items %}
                  | <a href="{{item.url}}">{{item.label}}</a>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Room name input validation and user feedack
// 27.03.2020, SWITCH, ye
let warningLabel = document.createElement("label");
warningLabel.setAttribute("style", "color: red; font-weight: 700;");
let warningTxt = document.createTextNode("No white space or any of these: ?, &, :, ', \", %, # ");

let inputField = document.querySelector("#enter_room_field");
inputField.parentNode.insertBefore(warningLabel, inputField);

let startBtn = document.querySelector("#enter_room_button");

inputField.addEventListener("keyup", event => {

  var inputRegex = /\?|\&|:|\'|\"|\%|\#|\s/;

  // if bad values in field, inform user and hide button
  if(inputField.value !== undefined && inputRegex.test(inputField.value)){
    warningLabel.appendChild(warningTxt);
    startBtn.setAttribute("style", "display: none;");

  // if input OK, remove warning and show button
  } else {
    warningLabel.innerHTML = "";
    startBtn.removeAttribute("style");
  }

});
</script>
</template>
